
  p {
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    color: rgba(0, 187, 255, 0.952)
   
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  
  #snowflake{
      width: 20px;
  }
  
  .snow {
    font-size: 20px;
    position: fixed;
    top: -5vh;
    transform: translateY(0);
     transform : rotate(180deg);
    animation: fall 7s linear forwards;
  }
  
  @keyframes fall {
    to {
      transform: translateY(105vh);
    }
  }

  h5 {
    max-width: 75%;
    font-size: 30px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 187, 255, 0.952);
    position: relative;
   
  }
  
  